<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>About</title>
<link rel="stylesheet" type="text/css" href="/resources/dwebb29-Stylesheet.css">
</head>
<body>
  <div id="heads">
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
  </div>
  <div id="all">
    <main id="content">
      <article>
        <h3>PokéSwap</h3>
          <p>
            A Pokémon card trading site where you and other trainers can post your Cards </br>
            to be viewed and traded. Our site only shows cards available to be traded so if </br>
            you're looking for specific card information we recommend visiting the official </br>
            Pokémon Trading Card site.
          </p>
      </article>
        </main>
      <div id="column">
        <% include partials/site-navigation.ejs %>
        <% include partials/footer.ejs %>
      </div>
    </div>
</body>
</html>
