<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Contact Us</title>
<link rel="stylesheet" type="text/css" href="/resources/dwebb29-Stylesheet.css">
</head>
<body>
  <div id="heads">
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
  </div>
  <div id="all">
    <main id="content">
      <article>
        <h4>Contact Information</h4>
        <p><strong>Email:</strong> dwebb29@uncc.edu</p>
        <p><strong>Telephone:</strong> 1+(234)-(567)-(8910)</p>
      </article>
    </main>
  <div id="column">
    <% include partials/site-navigation.ejs %>
    <% include partials/footer.ejs %>
  </div>
  </div>
</body>
</html>
